.zone-cfg {
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    box-sizing: border-box;
    padding: 4px;
    min-width: 50px;
}
.zone-header {
    height:2rem;
    padding: 0px;
    position: absolute;
    margin-left:5px;
    margin-right:5px;
    left: 0px;
}

.rc-tootip { z-index: 1500; }
.rc-slider-tooltip { z-index: 1500; }

.tbrowse {
    min-height: 400px;
}
.tbrowse-header {
    background: lightgreen;
    height: 40px;
    padding: 4px;
}
.tbrowse-zone-headers {
    position: -webkit-sticky;
    position: sticky;
    height:90px;
    top:0px;
    background: white;
    z-index: 2;
}
.tbrowse-zone-bodies {
}
.tbrowse-zone-body {
    margin-left: 5px;
    margin-right: 5px;
    position: absolute;
}
.tbrowse-zone-config {
    width: 100%;
    padding: 4px;
    border: 1px solid rgba(1,1,1,0);
    border-radius: 6px;
    transition: border .1s;
    /*position: relative;*/
    /*z-index: 2001;*/
}
.tbrowse-zone-config:hover {
    border: 1px solid #7a8181;
}
a { cursor: pointer }
.tbrowse-param-table {
    background: #ffee77;
    width: 300px;
    position: absolute;
    left: calc(100% - 300px);
    top: 1.6rem;
    z-index: 3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

