.zone-wrapper {
    position: fixed;
}
.zone-cfg {
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    box-sizing: border-box;
    padding: 4px;
    min-width: 50px;
}

.rc-tootip { z-index: 1500; }
.rc-slider-tooltip { z-index: 1500; }

.tbrowse {
    min-height: 400px;
}
.tbrowse-header {
    background: lightgreen;
    height: 40px;
    padding: 4px;
}
.tbrowse-zone-config {
    height: 20px;
    padding: 4px;
    /*border: 1px dotted #7e8585;*/
    /*border-radius: 4px;*/
    transition: border .1s;
    position: relative;
    z-index: 1000;
}
.tbrowse-zone-config:hover {
    border: 1px solid #7a8181;
    border-radius: 6px;
}
a { cursor: pointer }