@font-face {
    font-family: 'clustal';
    src: url('fonts/Clustal-Regular.woff2') format('woff2'),
    url('fonts/Clustal-Regular.woff') format('woff'),
    url('fonts/Clustal-Regular.eot') format('embedded-opentype')
}
@font-face {
    font-family: 'zappo';
    src: url('fonts/Zappo-Regular.woff2') format('woff2'),
    url('fonts/Zappo-Regular.woff') format('woff'),
    url('fonts/Zappo-Regular.eot') format('embedded-opentype')
}
@font-face {
    font-family: 'taylor';
    src: url('fonts/Taylor-Regular.woff2') format('woff2'),
    url('fonts/Taylor-Regular.woff') format('woff'),
    url('fonts/Taylor-Regular.eot') format('embedded-opentype')
}
@font-face {
    font-family: 'hydrophobicity';
    src: url('fonts/Hydrophobicity-Regular.woff2') format('woff2'),
    url('fonts/Hydrophobicity-Regular.woff') format('woff'),
    url('fonts/Hydrophobicity-Regular.eot') format('embedded-opentype')
}
@font-face {
    font-family: 'helix';
    src: url('fonts/Helix-Regular.woff2') format('woff2'),
    url('fonts/Helix-Regular.woff') format('woff'),
    url('fonts/Helix-Regular.eot') format('embedded-opentype')
}
@font-face {
    font-family: 'strand';
    src: url('fonts/Strand-Regular.woff2') format('woff2'),
    url('fonts/Strand-Regular.woff') format('woff'),
    url('fonts/Strand-Regular.eot') format('embedded-opentype')
}
@font-face {
    font-family: 'turn';
    src: url('fonts/Turn-Regular.woff2') format('woff2'),
    url('fonts/Turn-Regular.woff') format('woff'),
    url('fonts/Turn-Regular.eot') format('embedded-opentype')
}
@font-face {
    font-family: 'buried';
    src: url('fonts/Buried-Regular.woff2') format('woff2'),
    url('fonts/Buried-Regular.woff') format('woff'),
    url('fonts/Buried-Regular.eot') format('embedded-opentype')
}
@font-face {
    font-family: 'highclustal';
    src: url('fonts/Clustal-Bold.woff2') format('woff2'),
    url('fonts/Clustal-Bold.woff') format('woff'),
    url('fonts/Clustal-Bold.eot') format('embedded-opentype')
}
@font-face {
    font-family: 'highzappo';
    src: url('fonts/Zappo-Bold.woff2') format('woff2'),
    url('fonts/Zappo-Bold.woff') format('woff'),
    url('fonts/Zappo-Bold.eot') format('embedded-opentype')
}
@font-face {
    font-family: 'hightaylor';
    src: url('fonts/Taylor-Bold.woff2') format('woff2'),
    url('fonts/Taylor-Bold.woff') format('woff'),
    url('fonts/Taylor-Bold.eot') format('embedded-opentype')
}
@font-face {
    font-family: 'highhydrophobicity';
    src: url('fonts/Hydrophobicity-Bold.woff2') format('woff2'),
    url('fonts/Hydrophobicity-Bold.woff') format('woff'),
    url('fonts/Hydrophobicity-Bold.eot') format('embedded-opentype')
}
@font-face {
    font-family: 'highhelix';
    src: url('fonts/Helix-Bold.woff2') format('woff2'),
    url('fonts/Helix-Bold.woff') format('woff'),
    url('fonts/Helix-Bold.eot') format('embedded-opentype')
}
@font-face {
    font-family: 'highstrand';
    src: url('fonts/Strand-Bold.woff2') format('woff2'),
    url('fonts/Strand-Bold.woff') format('woff'),
    url('fonts/Strand-Bold.eot') format('embedded-opentype')
}
@font-face {
    font-family: 'highturn';
    src: url('fonts/Turn-Bold.woff2') format('woff2'),
    url('fonts/Turn-Bold.woff') format('woff'),
    url('fonts/Turn-Bold.eot') format('embedded-opentype')
}
@font-face {
    font-family: 'highburied';
    src: url('fonts/Buried-Bold.woff2') format('woff2'),
    url('fonts/Buried-Bold.woff') format('woff'),
    url('fonts/Buried-Bold.eot') format('embedded-opentype')
}

.msa { overflow-x: hidden; overflow-y: hidden; white-space: nowrap; font-size: 16px; }
.clustal { font-family: 'clustal', monospace; }
.zappo   { font-family: 'zappo', monospace; }
.taylor  { font-family: 'taylor', monospace; }
.hydro   { font-family: 'hydrophobicity', monospace; }
.helix   { font-family: 'helix', monospace; }
.strand  { font-family: 'strand', monospace; }
.turn    { font-family: 'turn', monospace; }
.buried  { font-family: 'buried', monospace; }
.clustal.highlight { font-family: 'highclustal', monospace; }
.zappo.highlight   { font-family: 'highzappo', monospace; }
.taylor.highlight  { font-family: 'hightaylor', monospace; }
.hydro.highlight   { font-family: 'highhydrophobicity', monospace; }
.helix.highlight   { font-family: 'highhelix', monospace; }
.strand.highlight  { font-family: 'highstrand', monospace; }
.turn.highlight    { font-family: 'highturn', monospace; }
.buried.highlight  { font-family: 'highburied', monospace; }
